.title {
  padding-top: 2rem;
}

.error_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.error_code, .error_message {
    font-size: 15rem;
    color: var(--accent);
    font-weight: bold;
}

.error_message {
    font-size: 2rem;
}
